@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #7e7e7e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}
#submit {
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 0, 0, 0.548);
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #ffffff;
}
#submit:hover {
  background-color: red;
  cursor: pointer;
}
.title,
.answer {
  padding: 0 2rem;
  padding-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
}
.option-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  gap: 2rem;
  margin-bottom: 2rem;
}
.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
label:hover {
  cursor: pointer;
}

@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
  .container {
    width: 35rem;
  }
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}